.button {
  background-color: black; /* black background */
  color: #1ed760; /* green text */
  border: none;
  border-radius: 10px; /* some border-radius */
  font-family: "Poppins", sans-serif; /* Poppins font */
  padding: 10px 20px;
  cursor: pointer; /* hover pointer */
  font-size: 16px;
  transition: background 0.3s ease;
}

.button:hover {
  opacity: 0.9;
}
