/* .navbar {
  background-color: var(--color-background, #121212);
  height: 74px;
  width: 100vw;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #34c94b;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar button {
  background: white;
  color: #2aca55;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.navbar button:hover {
  background: #222;
}

