.wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.search {
  padding: 8px 12px;
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--color-primary);
  outline: none;
  width: 250px;
  background-color: var(--color-black);
  color: white;
  font-family: "Poppins", sans-serif;
}

.search::placeholder {
  color: #aaa; /* Cypress will detect placeholder */
}

.searchButton {
  padding: 8px 12px;
  background-color: var(--color-black);
  border: 1px solid var(--color-primary);
  border-left: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton img {
  width: 20px;
  height: 20px;
}
